<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TheBarberShop.Properties.Settings.BarberShopDBConnectionString"
            connectionString="Data Source=PC16\SQLEXPRESS;Initial Catalog=BarberShopDB;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
        <add name="TheBarberShop.Properties.Settings.BarberShopDBConnectionString1"
            connectionString="Data Source=Keith\SQLEXPRESS;Initial Catalog=BarberShopDB;Integrated Security=True;Encrypt=False;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>